# Compiled Object files
*.slo
*.lo
*.o
*.sdf
*.ipch
*.obj
*.pdb
*.DS_Store
*.pch
*.idb
*.opensdf
*.db

# Visual Studio Files
*.opendb
*.suo
*.lastbuildstate
*.user
.vs/
ipch/

# Compilation Directories
Lib/
Exe/
Intermediate/
dll/
**/x64/

# Misc
*.log
*.tlog
build/*
!build/.gitkeep